# **Assignment 1**
Submitted By : Subrat Kumar nanda

## Question-01

### Q1. Write a Python program to generate a data frame of 10 students with {Name, Gender, Age, CGPA, Marks, Mode of Exam, and Available for Weekend Class} as headers.

#### Explanation : 
Pandas DataFrame is a 2-dimensional labeled data structure like any table with rows and columns.

DataFrame() function is used to create a dataframe in Pandas.

#### Synatx : 
pandas.DataFrame(data, index, columns)

In [ ]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialize data of lists.
data = {'Name': ['Student 1', 'Student 2','Student 3','Student 4','Student 5','Student 6','Student 7','Student 8','Student 9','Student 10'],
		    'Gender': ['Male', 'Female','Male', 'Female','Male', 'Female','Male', 'Female','Male', 'Female'],
        'Age': [20, 21, 22, 20, 21, 22,20, 21, 22,20],
        'CGPA' : [4.0,4.5,5.0,5.5,6.0,6.5,7.0,7.5,8.0,8.5],
        'Marks' : [70,71,72,73,74,75,76,77,78,79],
        'Mode_of_Exam' : ['Online','Online','Online','Online','Online','Offline','Offline','Offline','Offline','Offline'],
        'Available_for_Weekend_Class' : ['Yes','No','Yes','No','Yes','No','Yes','No','Yes','No']
        }

# Create DataFrame
df = pd.DataFrame(data)

# Print the entire dataset
df

,Name,Gender,Age,CGPA,Marks,Mode_of_Exam,Available_for_Weekend_Class
0,Student 1,Male,20,4.0,70,Online,Yes
1,Student 2,Female,21,4.5,71,Online,No
2,Student 3,Male,22,5.0,72,Online,Yes
3,Student 4,Female,20,5.5,73,Online,No
4,Student 5,Male,21,6.0,74,Online,Yes
5,Student 6,Female,22,6.5,75,Offline,No
6,Student 7,Male,20,7.0,76,Offline,Yes
7,Student 8,Female,21,7.5,77,Offline,No
8,Student 9,Male,22,8.0,78,Offline,Yes
9,Student 10,Female,20,8.5,79,Offline,No

## Question-02

Q2 : Also insert a new column as “Overall Performance” whose entries will be the summation of entries in CGPA and Marks column.

#### Explanation:
1. Method #1: By declaring a new list as a column
2. Method #2: By using DataFrame.insert()
3. Method #3: Using Dataframe.assign() method
4. Method #4: By using a dictionary

In [ ]:
# Created a new column Overall_Performance by summation of entries in CGPA and Marks column 

df["Overall_Performance"] = df["CGPA"] + df["Marks"]

# Print the entire dataset
df

,Name,Gender,Age,CGPA,Marks,Mode_of_Exam,Available_for_Weekend_Class,Overall_Performance
0,Student 1,Male,20,4.0,70,Online,Yes,74.0
1,Student 2,Female,21,4.5,71,Online,No,75.5
2,Student 3,Male,22,5.0,72,Online,Yes,77.0
3,Student 4,Female,20,5.5,73,Online,No,78.5
4,Student 5,Male,21,6.0,74,Online,Yes,80.0
5,Student 6,Female,22,6.5,75,Offline,No,81.5
6,Student 7,Male,20,7.0,76,Offline,Yes,83.0
7,Student 8,Female,21,7.5,77,Offline,No,84.5
8,Student 9,Male,22,8.0,78,Offline,Yes,86.0
9,Student 10,Female,20,8.5,79,Offline,No,87.5

## Question-03

### Q3: Also insert one more column “Branch”. The entries in this column will be
“CSE” for students having CGPA greater than 7 and “Civil” for students having
CGPA in between 6 to 6.9

#### Explanation:
    Condition : CGPA between 6 - 6.9 Assign Branch as CVIL
                CGPA More than 7 Assign Branch as CSE

In [ ]:
# Function to assign the Branch based on Condition
def find_branch(df):
    if df['CGPA'] >= 7:
        return 'CSE'
    elif df['CGPA'] >= 6 and  df['CGPA'] <= 6.9 :
        return 'CVIL'
    else:
        return 'NA'

# Creating new Column
df['BRANCH'] = df.apply(find_branch, axis=1)

# Print the entire dataset
df

,Name,Gender,Age,CGPA,Marks,Mode_of_Exam,Available_for_Weekend_Class,Overall_Performance,BRANCH
0,Student 1,Male,20,4.0,70,Online,Yes,74.0,NA
1,Student 2,Female,21,4.5,71,Online,No,75.5,NA
2,Student 3,Male,22,5.0,72,Online,Yes,77.0,NA
3,Student 4,Female,20,5.5,73,Online,No,78.5,NA
4,Student 5,Male,21,6.0,74,Online,Yes,80.0,CVIL
5,Student 6,Female,22,6.5,75,Offline,No,81.5,CVIL
6,Student 7,Male,20,7.0,76,Offline,Yes,83.0,CSE
7,Student 8,Female,21,7.5,77,Offline,No,84.5,CSE
8,Student 9,Male,22,8.0,78,Offline,Yes,86.0,CSE
9,Student 10,Female,20,8.5,79,Offline,No,87.5,CSE

## Question-04

### Q4: Select Male students from the data frame with CGPA greater than 6.5.

#### Explanation : Filter data based on Gender and CGPA > 6.5

In [ ]:
# Filtering data Gender = Male and CGPA more than 6.5
result1_df = df[(df.CGPA > 6.5) & (df.Gender == 'Male')]

result1_df

,Name,Gender,Age,CGPA,Marks,Mode_of_Exam,Available_for_Weekend_Class,Overall_Performance,BRANCH
6,Student 7,Male,20,7.0,76,Offline,Yes,83.0,CSE
8,Student 9,Male,22,8.0,78,Offline,Yes,86.0,CSE

## Question-05

####Q5 : List out female students interested for online mode of Exam and replace the corresponding entries with “Google Meet”

In [ ]:
#Replacking value of Mode_of_Exam from Online to Google Meet
result2_df = df[(df.Gender == 'Female') & (df.Mode_of_Exam == 'Online')].replace(to_replace="Online",value="Google Meet")

result2_df

,Name,Gender,Age,CGPA,Marks,Mode_of_Exam,Available_for_Weekend_Class,Overall_Performance,BRANCH
1,Student 2,Female,21,4.5,71,Google Meet,No,75.5,NA
3,Student 4,Female,20,5.5,73,Google Meet,No,78.5,NA