In [ ]:
import pandas as pd 
df=pd.read_csv('/content/Titanic_DataSet/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.drop(['PassengerId','Name','SibSp','Parch',	'Ticket',	'Cabin',	'Embarked'],axis='columns',inplace= True)

In [ ]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [ ]:
target = df['Survived']
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

It is used to convert non numerical label to numerical label

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
L_Sex = LabelEncoder()

In [ ]:
df['Sex_New'] = L_Sex.fit_transform(df['Sex'])
df

     Survived  Pclass     Sex   Age     Fare  Sex_New
0           0       3    male  22.0   7.2500        1
1           1       1  female  38.0  71.2833        0
2           1       3  female  26.0   7.9250        0
3           1       1  female  35.0  53.1000        0
4           0       3    male  35.0   8.0500        1
..        ...     ...     ...   ...      ...      ...
886         0       2    male  27.0  13.0000        1
887         1       1  female  19.0  30.0000        0
888         0       3  female   NaN  23.4500        0
889         1       1    male  26.0  30.0000        1
890         0       3    male  32.0   7.7500        1

[891 rows x 6 columns]

In [ ]:
df_new = df.drop(['Sex','Survived'],axis='columns')
df_new

     Pclass   Age     Fare  Sex_New
0         3  22.0   7.2500        1
1         1  38.0  71.2833        0
2         3  26.0   7.9250        0
3         1  35.0  53.1000        0
4         3  35.0   8.0500        1
..      ...   ...      ...      ...
886       2  27.0  13.0000        1
887       1  19.0  30.0000        0
888       3   NaN  23.4500        0
889       1  26.0  30.0000        1
890       3  32.0   7.7500        1

[891 rows x 4 columns]

In [ ]:
df_new.isnull()

     Pclass    Age   Fare  Sex_New
0     False  False  False    False
1     False  False  False    False
2     False  False  False    False
3     False  False  False    False
4     False  False  False    False
..      ...    ...    ...      ...
886   False  False  False    False
887   False  False  False    False
888   False   True  False    False
889   False  False  False    False
890   False  False  False    False

[891 rows x 4 columns]

In [ ]:
df_new.isnull().sum()

Pclass       0
Age        177
Fare         0
Sex_New      0
dtype: int64

In [ ]:
df_new.Age = df_new.Age.fillna(df_new.Age.mean())
df_new.head()

   Pclass   Age     Fare  Sex_New
0       3  22.0   7.2500        1
1       1  38.0  71.2833        0
2       3  26.0   7.9250        0
3       1  35.0  53.1000        0
4       3  35.0   8.0500        1

In [ ]:
df_new.isnull().sum()

Pclass     0
Age        0
Fare       0
Sex_New    0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_new, target, test_size=0.2)

In [ ]:
df_new.shape

(891, 4)

In [ ]:
print('X_train  : ' + str( len(X_train) ) )
print('X_test  : ' + str( len(X_test) ) )
print('y_train  : ' + str( len(y_train)) )
print('y_test  : ' + str( len(y_test)) )

X_train  : 712
X_test  : 179
y_train  : 712
y_test  : 179

In [ ]:
from sklearn import tree
model =tree.DecisionTreeClassifier()

In [ ]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [ ]:
y_pre = model.predict(X_test)

In [ ]:
y_pre

array([0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0])

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
matirx =  confusion_matrix(y_test, y_pre, labels=[1,0])

In [ ]:
print('Confusion Matrix : \n' , matirx)

Confusion Matrix :
 [[50 26]
 [16 87]]

In [ ]:
matirx_C =  classification_report(y_test, y_pre, labels=[1,0])

In [ ]:
print('Classification Report : \n' , matirx_C)

Classification Report :
               precision    recall  f1-score   support

           1       0.76      0.66      0.70        76
           0       0.77      0.84      0.81       103

    accuracy                           0.77       179
   macro avg       0.76      0.75      0.75       179
weighted avg       0.76      0.77      0.76       179